.cardHeader {
  background-color: var(--primaryColor);
  color: var(--fontColorLight);
  text-align: center;
}

.subtitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.codContainer {
  background-color: var(--primaryColor);
}
.bodyItemTitle {
  color: rebeccapurple;
}
.bodyItemTitle {
  color: var(--fontColorDark);
}
