.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  align-items: center;
  padding: 2rem;
  overflow: hidden;
}

.imageContainer {
  max-width: 100%;
}

.imageContainer img {
  max-width: 40rem;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsividade */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
}
