.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.formContainer {
  margin: 0.7rem;
  width: 100%;
  max-width: 40rem;
  background-color: var(--backgroundColorLight);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 2rem;
}

.formHeader {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--fontColorDark);
}
