@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
}

html,
body {
  background-color: var(--backgroundColor);
}

/*Paleta de cores*/
:root {
  /*--primaryColor: #4b94f2;*/
  --primaryColor: #092139;
  --backgroundColor: #eee8e8;
  --backgroundColorLight: #f9fafb;
  --inputColor: #f6f6f6;
  --fontColor: #6b7280;
  --fontColorDark: #666b75;
  --fontColorLight: #ffffff;
  --strokeColor: #7a7676;
  --hoverColorLight: #f1f3f5;
  --hoverColor: #b3e5fc;
  --primaryColorHover: #10365e;
  --snackBarColorLight: #7db4eb;
  --snackBarColor: #15487c;
  --sectionBgColor: #e2e2e2;
}
