.container {
  width: 100%;
  padding: 1rem;
  background-color: var(--primaryColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--fontColorLight);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.leftContent {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.logoContainer img:hover {
  cursor: pointer;
}

.rightContent {
  display: flex;
  justify-content: flex-end;
}

.navButton {
  color: var(--fontColorLight);
  text-decoration: underline;
}

.navBarItem:not(:last-child) {
  border-right: 1px solid var(--fontColorLight);
}

.navBarItem {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
}

.linkItem {
  text-decoration: none;
  color: inherit;
}

.linkItem:hover {
  text-decoration: none;
  cursor: pointer;
  color: var(--hoverColor);
  border-bottom: 2px solid white;
  transition: 1s ease-out;
}

a {
  text-decoration: none;
}

.activeNavBarItem {
  font-weight: bold;
  color: inherit;
  border-bottom: 2px solid white;
}

.avatar:hover {
  cursor: pointer;
  color: var(--hoverColor);
  transition: 1s ease-out;
}
