.container {
  width: 100%;
  padding: 1rem;
}

.gridContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.gridColumn {
  margin: 0.8rem;
}

@media screen and (max-width: 768px) {
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr;
  }

  .gridColumn {
    margin: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

footer {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

@media (max-width: 593px) {
  .container {
    padding: 0rem;
  }
}
