#buttonContainer {
  padding: 0.9rem;
  max-width: 15rem;
  background-color: var(--primaryColor);
  font-size: 0.9rem;

  text-transform: none;
  text-align: center;
  font-weight: bold;

  gap: 1rem;
}

#buttonContainer:hover {
  background-color: var(--primaryColorHover);
  transition: 0.2s ease-out;
}

#buttonContainerMargin {
  width: 100%;
  padding: 0.7rem;
  background-color: var(--primaryColor);
  margin-top: 1rem;
}
